@import "tailwindcss";
@import "tw-animate-css";

:root {
	--background: oklch(1 0 0);

	--foreground: oklch(0.145 0 0);

	--border: oklch(0.922 0 0);

	--ring: oklch(0.708 0 0);
}

@theme inline {
	--font-sans: "Radio Canada", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-background: var(--background);

	--color-foreground: var(--foreground);

	--color-border: var(--border);

	--color-ring: var(--ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	html {
		color-scheme: dark;
	}

	body {
		@apply bg-background text-foreground overflow-y-scroll antialiased;
	}

	#root {
		@apply relative h-full min-h-dvh flex flex-col items-center justify-center sm:px-5 overflow-hidden;
	}
}
